@require 'font-awesome.min'

@font-face {
	font-family: sf;
	src: url('../font/sf/sf.ttf') format('truetype');
}
@font-face {
	font-family: sf;
	font-weight: bold;
	src: url('../font/sf/sf.bold.ttf') format('truetype');
}
